.input {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 360px) {
    flex-direction: row;
  }

  & > label {
    padding: 0.8rem 1rem;
    background-color: white;
    z-index: 1;
    align-self: flex-start;

    @media screen and (min-width: 360px) {
      align-self: stretch;
      padding: auto;
      flex-basis: 8rem;
    }
  }

  & > input {
    border: none;
    font: inherit;
    padding: 0.8rem 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    flex: 1;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.error {
  & > label {
    color: #ff3333;
  }

  & > input {
    border: 1px solid #ff3333;
  }
}
